.hero-bg {
    background-image: url('https://5.imimg.com/data5/SELLER/Default/2023/4/299455148/PX/GU/WN/187501798/international-tour-packages.jpg');
    background-size: cover;
    background-position: center;
  }
  